// --------------------------------------------------
// Buttons
// --------------------------------------------------
// Button global
// -------------------------
// main button
.btn {
    width: auto;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: $white;
    text-transform: uppercase;
    border-radius: $bntRadius;
    text-align: center;
    display: inline-block;
    padding: 1.5rem 3rem;
    margin: 1.5rem 0;
    &:focus,
    &:hover {
        cursor: pointer;
    }
}

// button color skins
// -------------------------
.btn-prime {
    border: 2px solid $prime;
    background: $prime;
    &:focus,
    &:hover {
        border-color: darken($prime, 5%);
        background-color: darken($prime, 5%);
    }
}

.btn-second {
    border: 2px solid $second;
    background: $third;
    &:focus,
    &:hover {
        border-color: darken($second, 5%);
        background-color: darken($second, 5%);
    }
}

.btn-third {
    border: 2px solid $third;
    background: $third;
    &:focus,
    &:hover {
        border-color: darken($third, 5%);
        background-color: darken($third, 5%);
    }
}

.btn-prime-outline {
    border: 2px solid $prime;
    color: $prime;
    background: transparent;
    &:focus,
    &:hover {
        background-color: $prime;
        color: $white;
    }
}

.btn-white-outline {
    border: 2px solid $white;
    background: transparent;
    &:focus,
    &:hover {
        background-color: $white;
        color: $colorText;
    }
}

// button size skins
// -------------------------

/*.btn-large {
	padding: 2.5rem 6rem;
	font-size: 2.5rem;
}*/

.btn-small {
    font-size: 1.4rem;
    padding: 2rem 4.5rem;
    margin: 0 1.5rem;
}



// --------------------------------------------------
// Media levels
// --------------------------------------------------
// -xs- (Default)
// -------------------------
// -sm- 
// -------------------------
@media only screen and (min-width: 768px) {
  
}

// -md-
// -------------------------
@media only screen and (min-width: 992px) {
   
}

// -lg-
// -------------------------